body {
  width: initial;
}
.navbar {
  transition: 0.5s;
}
.jumbotron {
  padding-top: 8em;
  padding-bottom: 5em;
  background-color: rgb(231, 231, 231);
  background-image: url(../img/bgjum.jpg);
  background-attachment: fixed;
  box-shadow: black;
}
.jumbotron .row {
  color: aliceblue;
}
.jumbotron img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border: none;
}

.namabesar {
  padding-top: 2em;
}

.about {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-left: 20%;
  margin-right: 20%;
  height: 700px;
}
.about p {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.about h2 {
  padding-bottom: 15px;
}
.portfolio {
  display: grid;
  padding-top: 5em;
  padding-bottom: 3em;
  background-color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
}
.portfolio h2 {
  color: rgb(0, 0, 0);
}
.contact {
  display: block;
  padding-top: 5em;
  padding-left: 25%;
  padding-right: 25%;
  width: inherit;
  height: 700px;
}
.alert .btn-close {
  float: right;
}
footer {
  background-color: black;
  height: 70px;
  color: aliceblue;
  padding-top: 25px;
}
