body {
  width: initial;
}
.navbar {
  transition: 0.5s;
}
.jumbotron {
  padding-top: 8em;
  padding-bottom: 5em;
  background-color: rgb(231, 231, 231);
  background-image: url(../img/bgjum.jpg);
  background-attachment: fixed;
  box-shadow: black;
}
.jumbotron .row {
  color: aliceblue;
}
.jumbotron img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border: none;
}

.namabesar {
  padding-top: 2em;
}

.about {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-left: 20%;
  margin-right: 20%;
  height: 600px;
}
.about p {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.about h2 {
  padding-bottom: 15px;
}

/* Begin cta section */
#cta-section {
  margin-top: 30px;
  background-color: rgb(228, 228, 228);
  padding: 70px 0 80px;
  margin-bottom: 50px;
}
.cta-btn {
  text-align: center;
  margin-top: 30px;
}
/* End cta section */

.portfolio {
  display: grid;
  padding-top: 5em;
  padding-bottom: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.portfolio h2 {
  color: rgb(0, 0, 0);
}
@media (min-width: 991px) {
  .contact {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.contact {
  display: block;
  padding-top: 5em;
  width: inherit;
  height: 700px;
}
.alert .btn-close {
  float: right;
}
.social-list {
  list-style: none;
}
ul.social-list {
  text-align: center;
  margin: 0 auto;
}
ul.social-list li :hover {
  opacity: 80%;
}
ul.social-list li {
  display: inline-block;
  margin-right: 20px;
}
footer {
  background-color: black;
  height: 70px;
  color: aliceblue;
  padding-top: 25px;
}
